GEMINI_API_KEY=your-gemini-api-key
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAYc_AAIocDI0YzE1OTI4NmU1ZDY0YzhmOWI5NjY0OTY5Mjc3ZDk4NXAyMTAwMTU5
UPSTASH_REDIS_REST_URL=https://workable-jay-100159.upstash.io

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dm5p76bg1
NEXT_PUBLIC_CLOUDINARY_API_KEY=914961888326498
CLOUDINARY_API_KEY=914961888326498
CLOUDINARY_API_SECRET=sRDicl9B2qu3ISqd1tZD9QXN8Mo
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=scct-submissions

PUSHER_APP_ID=2142322
PUSHER_KEY=c10d46bae588e537424a
PUSHER_SECRET=8c2742ec9c24335f15f3
PUSHER_CLUSTER=eu

MOBILE_APP_BASE_URL=https://scct-damages.vercel.app
MOBILE_ALLOWED_HOSTS=scct-damages.vercel.app
APP_ALLOWED_ORIGINS=https://scct-damages.vercel.app,capacitor://localhost,ionic://localhost,http://localhost,http://localhost:3000,https://localhost:3000,https://scct-damages.vercel.app,https://staging.scct-damages.vercel.app
APP_WEBVIEW_ALLOWED_ORIGINS=https://scct-damages.vercel.app,capacitor://localhost,ionic://localhost,http://localhost,http://localhost:3000,https://localhost:3000,https://scct-damages.vercel.app,https://staging.scct-damages.vercel.app
AUTH_URL=https://scct-damages.vercel.app
NEXT_PUBLIC_APP_URL=https://scct-damages.vercel.app

NODE_ENV=production

MONGODB_URI=mongodb://scct:zawzawzaw@ac-x46haey-shard-00-00.aw2csgp.mongodb.net:27017,ac-x46haey-shard-00-01.aw2csgp.mongodb.net:27017,ac-x46haey-shard-00-02.aw2csgp.mongodb.net:27017/scct?ssl=true&replicaSet=atlas-eyv3mu-shard-0&authSource=admin&retryWrites=true&w=majority&appName=SCCT

LOG_LEVEL=info
NEXT_PUBLIC_LOG_LEVEL=info
AUTH_SECRET=37e0800eeaef270f0b9a2069381adb864c07c70a6b6490bb61e1f5623553133d

CRON_SECRET=your-vercel-cron-secret
